# LAB
LAB_PORT=8503
MODEL_NAME=Breeze-7B
VLLM_API_KEY=12345
VLLM_HOST=http://vllm-server:9999/v1
VECTORDB_HOST=http://opensearch-node1:9200
VECTORDB_INDEX=1139c161-22d4-4ef1-96ec-94c09055daec
EMBEDDING_HOST=http://llm:8001/api/v0/embedding/doc